:root {
  --green: #2ecc71;
  --blue: #3498db;
  --yellow: #f1c40f;
  --red: #e74c3c;
  --dark-blue: #34495e;
  --midnight-blue: #2c3e50;
  --light-white: #ecf0f1;
  --silver: #bdc3c7;

  --bg-color: var(--light-white);
  --text-color: var(--midnight-blue);
  --body-color: white;
  --link-color: var(--blue);
  --link-color-hover: var(--dark-blue);

  --box-size: 900px;

  --transition: all 0.6s ease-in-out;

  --heading: 24px;
}

:root[data-theme="dark"] {
  --body-color: var(--midnight-blue);
  --bg-color: var(--dark-blue);
  --text-color: var(--light-white);
}

/* RESET */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  width: 100%;
  height: 100vh;
}

/* HELPER: */
.clear-fix {
  clear: both;
}

/* GENERAL */
header,
main {
  background-color: var(--bg-color);
  min-height: 20px;
  padding: 20px 0;
  margin-bottom: 20px;
}

/* NAV */
header {
  border-bottom: 1px solid var(--silver);
}

header > nav {
  width: 800px;
  /* center nav in header */
  margin: 0 auto;
}

header > nav > ul {
  float: left;
  list-style: none;
}

header > nav > ul:first-of-type > li {
  font-size: 1.5rem;
}

header > nav > ul:last-of-type {
  float: right;
  padding-top: 4px;
}

header > nav > ul > li {
  float: left;
  margin-right: 10px;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: var(--link-color);
  padding: 8px 12px;
  border-radius: 4px;
}

header > nav > ul > li > a:hover {
  color: var(--link-color-hover);
  background-color: var(--silver);
}

header > nav > ul > li:last-child > a {
  background-color: var(--blue);
  color: var(--light-white);
}

header > nav > ul > li:last-child > a:hover {
  background-color: var(--light-white);
  color: var(--blue);
}

/* MAIN */
main {
  width: var(--box-size);
  margin: 0 auto 30px;
  /* min-height: 750px; */
  border: 1px solid var(--silver);
  border-radius: 4px;
  padding: 20px;
}

/* ASIDE */
aside,
section {
  float: left;
}

aside {
  width: 30%;
  padding: 20px;
}

aside > ul {
  list-style: none;
}

aside > ul > li {
  margin-bottom: 10px;
}

aside > ul > li > a {
  text-decoration: none;
  color: var(--link-color);
  background-color: var(--bg-color);
  border-radius: 4px;
  padding: 6px 10px;
  display: block;
}

aside > ul > li > a::before {
  content: "\2022";
  margin-right: 8px;
}

aside > ul > li > a:hover {
  color: var(--bg-color);
  background-color: var(--light-white);
  text-align: center;
  padding-top: 10px;
  transition: var(--transition);
  height: 38px;
  transform: translateX(6px);
}

aside > ul > li > ul {
  margin: 15px 0;
  display: none;
  list-style-type: none;
}

aside > ul > li:hover > ul {
  display: block;
}

aside > ul > li > ul > li > a {
  display: block;
  margin: 12px 0;
  text-decoration: none;
  color: var(--light-white);
  background-color: var(--bg-color);
}

aside > ul > li > ul > li > a:hover {
  color: var(--bg-color);
  background-color: var(--light-white);
  height: 25px;
  padding-top: 3px;
  text-align: center;
  border-radius: 4px;
  transition: var(--transition);
}

/* SECTION */
section {
  width: 70%;
  /* float: left; */
}

article,
article > header {
  background-color: var(--body-color);
}

article {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
}

article > header {
  padding: 0;
  border-bottom: none;
}

article > footer {
  padding: 15px 0 0 0;
}

article > footer > a {
  color: var(--link-color);
  text-decoration: none;
  background-color: var(--light-white);
  padding: 3px 8px;
  border-radius: 4px;
}

article > footer > a:hover {
  color: var(--light-white);
  background-color: var(--link-color);
}

article > p {
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
  padding: 4px;
  border: 1px solid var(--bg-color);
  background-color: var(--body-color);
  border-radius: 4px;
  margin: 10px 0;
}

/* FOOTER */
body > footer {
  background-color: var(--midnight-blue);
  width: 800px;
  margin: 0 auto 25px;
  padding-bottom: 20px;
}

footer > p {
  float: left;
}

footer > nav > ul {
  float: right;
  list-style: none;
}

footer > nav > ul > li {
  float: left;
  margin-right: 15px;
}

footer > nav > ul > li > a {
  text-decoration: none;
  color: var(--link-color);
  padding: 8px 12px;
  border-radius: 4px;
}

footer > nav > ul > li > a:hover {
  color: var(--link-color-hover);
  background-color: var(--silver);
}
